@import url("../../themes/style.less");
.popperClose {
  pointer-events: none;
}  
.search {
    // [theme.breakpoints.down(sm)]: {
    //   margin: 10px 15px;
    //   float: none !important;
    //   padding-top: : 1px;
    //   padding-bottom: : 1px;
    //   padding: 10px 15px;
    //   width: auto;
    //   margin-top: 40px
    // }
    @media screen and (max-width: @sm) {
        margin: 10px 15px;
        float: none !important;
        padding-top: 1px;
        padding-bottom: 1px;
        padding: 10px 15px;
        width: auto;
        margin-top: 40px
    }
  }
  .linkText {
    z-index: 4;
    .defaultFont;
    font-size: 14px;
  }
  .buttonLink {
    top: -6px;
    // [theme.breakpoints.down(sm)]: {
    //   display: flex;
    //   marginLeft: 30px;
    //   width: auto
    // }
    @media screen and (max-width: @sm) {
        display: flex;
        margin-left: 30px;
        width: auto
    }
  }
  .searchButton {
    // [theme.breakpoints.down(sm)]: {
    //   top: -50px !important;
    //   marginRight: 22px;
    //   float: right
    // }
    @media screen and (max-width: @sm){
        top: -50px !important;
        margin-right: 22px;
        float: right
    }
  }
  .top {
    top: -6px;
    z-index: 4;
  }
  .searchIcon {
    width: 17px;
    z-index: 4;
  }
  .links {
    width: 20px;
    height: 20px;
    z-index: 4;
    // [theme.breakpoints.down(sm)]: {
    //   display: block;
    //   width: 30px;
    //   height: 30px;
    //   color: #a9afbb;
    //   marginRight: 15px
    // }
    @media screen and (max-width: @sm){
        display: block;
        width: 30px;
        height: 30px;
        color: #a9afbb;
        margin-right: 15px
    }
  }
  .notifications {
    z-index: 4;
    // [theme.breakpoints.up(md)]: {
    //   position: absolute;
    //   top: 5px;
    //   border: 1px solid #FFF;
    //   right: 10px;
    //   font-size: 9px;
    //   background: dangerColor;
    //   color: #FFFFFF;
    //   min-width: 16px;
    //   height: 16px;
    //   border-radius: 10px;
    //   text-align: center;
    //   line-height: 16px;
    //   vertical-align: middle;
    //   display: block
    // }
    @media screen and (min-width: @md){
        position: absolute;
        top: 5px;
        border: 1px solid #FFF;
        right: 10px;
        font-size: 9px;
        background: @dangerColor;
        color: #FFFFFF;
        min-width: 16px;
        height: 16px;
        border-radius: 10px;
        text-align: center;
        line-height: 16px;
        vertical-align: middle;
        display: block
      
    }
    // [theme.breakpoints.down(sm)]: {
    //   ...defaultFont;
    //   font-size: 14px;
    //   marginRight: 8px
    // }
    @media screen and (max-width: @sm){
        .defaultFont;
        font-size: 14px;
        margin-right: 8px
      
    }
  }
  .dropdown {
    border-radius: 3px;
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    top: 100%;
    z-index: 1000;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
  }
  .pooperResponsive {
    // [theme.breakpoints.down(sm)] {
    //   z-index: 1640;
    //   position: static;
    //   float: none;
    //   width: auto;
    //   margin-top: 0;
    //   backgroundColor: transparent;
    //   border: 0;
    //   boxShadow: none;
    //   color: black;
    // }
    @media screen and (max-width: @sm){
        z-index: 1640;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        color: black;
    }
  }
  .dropdownItem {
    .defaultFont;
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
    transition: all 150ms linear;
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    &:hover {
      background-color: @primaryColor;
      color: #FFFFFF;
      .primaryBoxShadow;
    }
  }